// 覆盖 @vant/weapp 一些样式
.popup-number-picker {
	.left-icon {
		font-size: 16px;
	}

	.van-icon {
		margin-right: 4px;
		top: 2px;
	}
}

.me {
	.body {
		.vant-cell-index--van-cell__left-icon {
			color: $primary;
		}
	}
}

.van-list__error-text,
.van-list__finished-text,
.van-list__loading {
	color: #969799;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
}

.van-loading__text {
	display: inline-block;
	margin-left: 10px;
	color: #969799;
	font-size: 14px;
	vertical-align: middle;
}