// color
$primary: #c03131;
$aux-primary: #74a5e7;
$aux-success: #b8cb50;
$aux-danger: #ff8462;
$aux-warning: #fab646;
$aux-default: #baa27a;

$text: #2e2f30;
$text-l: #797d82;
$text-ll: #bdc0c5;
$text-lll: #d2d6dc;

// font
$font11: 22rpx;
$font12: 24rpx;
$font13: 26rpx;
$font14: 28rpx;
$font15: 30rpx;
$font16: 32rpx;
$font20: 40rpx;
$font22: 44rpx;
$font24: 48rpx;
$font26: 52rpx;
$font28: 56rpx;

$gutter-40: 80rpx;
$gutter-24: 48rpx;
$gutter-16: 32rpx;
$gutter-8: 16rpx;
$gutter-4: 8rpx;

// shadow @antd4.0 https://ant.design/docs/spec/shadow-cn
$shadow-1-down:
0 2rpx 4rpx -4rpx rgba(0, 0, 0, 0.16),
0 6rpx 12rpx 0 rgba(0, 0, 0, 0.12),
0 10rpx 24rpx 8rpx rgba(0, 0, 0, 0.09);

$shadow-2-down: 
0 6rpx 12rpx -8rpx rgba(0, 0, 0, 0.12), 
0 12rpx 32rpx 0 rgba(0, 0, 0, 0.08), 
0 18rpx 56rpx 16rpx rgba(0, 0, 0, 0.05);

$shadow-3-down: 
0 12rpx 32rpx -16rpx rgba(0, 0, 0, 0.08), 
0 18px 56rpx 0 rgba(0, 0, 0, 0.05), 
0 24rpx 96rpx 32rpx rgba(0, 0, 0, 0.03);